<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2>Create a new course!</h2>
		<%= form_for :course, url: courses_path do |f| %>

		  <%= f.hidden_field :owner_id, :value => current_user.id %>
		  
		  <div class="form-group">
		    <%= f.label :name %><br>
		    <%= f.text_field :name, :class => 'form-control' %>
		  </div>
		 
		  <div class="form-group">
		    <%= f.label :description %><br>
		    <%= f.text_area :description, :class => 'form-control' %>
		  </div>
		 
		  <div class="form-group">
		    <%= f.submit "create", :class => 'btn btn-success' %>
		  </div>
		<% end %>
	</div>
</div>
